<%- include('../partials/header'); -%> <%- include('../partials/adminNav'); -%>
<%- include('../partials/flash', { messages: successMessages, type: 'success' })
%> <%- include('../partials/flash', { messages: errorMessages, type: 'danger' })
%>
<div class="container">
  <h1 class="mt-4">Enter Graduation Year</h1>
  <form action="/admin/graduateStudents" method="POST" class="mt-4">
    <div class="mb-3">
      <label for="graduationYear" class="form-label">Graduation Year:</label>
      <input
        type="number"
        class="form-control"
        id="graduationYear"
        name="graduationYear"
        required
      />
      <p class="text-muted">
        Caution: If dumped, all student user accounts with graduation year
        entered above will be deleted.
      </p>
    </div>
    <button type="submit" class="btn btn-primary">Dump</button>
  </form>
</div>
<%- include('../partials/footer'); -%>
