<%- include('../partials/header'); -%> <%- include('../partials/adminNav'); -%>
<%- include('../partials/flash', { messages: successMessages, type: 'success' })
%> <%- include('../partials/flash', { messages: errorMessages, type: 'danger' })
%>
<header class="bg-dark py-4">
  <div class="container">
    <h1 class="text-white">Welcome, Admin</h1>
  </div>
</header>
<div class="container mt-4 row mx-auto ">
  <div class="card mt-3 ms-md-5 col-md-5">
    <div class="card-body">
      <h2 class="card-title">Manage Faculty</h2>
      <p class="card-text">Create, edit, or delete faculty.</p>
      <a href="/admin/faculty" class="btn btn-primary"
        >Go to Faculty Management</a
      >
    </div>
  </div>

  <div class="card mt-3 ms-md-5 col-md-5">
    <div class="card-body">
      <h2 class="card-title">Manage Students</h2>
      <p class="card-text">Create, edit, or delete students.</p>
      <a href="/admin/student" class="btn btn-primary"
        >Go to Students Management</a
      >
    </div>
  </div>

  <div class="card mt-3 ms-md-5 col-md-5">
    <div class="card-body">
      <h2 class="card-title">Dump Data</h2>
      <p class="card-text">Dump the data of graduate students.</p>
      <a href="/admin/graduateForm" class="btn btn-primary"
        >Create Graduate Dump</a
      >
    </div>
  </div>
</div>

<%- include('../partials/footer'); -%>
