<%- include('../partials/header'); -%>
<%- include('../partials/facultyNav'); -%>
<%- include('../partials/flash', { messages: successMessages, type: 'success' }) %>
<%- include('../partials/flash', { messages: errorMessages, type: 'danger' }) %>


<header class="bg-dark py-4">
    <div class="container">
        <h1 class="text-white">Welcome, <%= faculty.name %></h1>
        <p class="text-light">Email: <%= faculty.email %></p>
        <p class="text-light">Contact: <%= faculty.contact %></p>
    </div>
</header>
<main class="container py-4">
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="card-title">Manage Mentees</h2>
                    <p class="card-text">View and manage your mentees.</p>
                    <a href="/faculty/mentees/home" class="btn btn-primary">Manage Mentees</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="card-title">Your Remarks</h2>
                    <p class="card-text">Leave remarks on your mentees.</p>
                    <a href="/faculty/mentees" class="btn btn-primary">Remarks</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="card-title">Graduates</h2>
                    <p class="card-text">Info of your graduated mentees.</p>
                    <a href="/faculty/graduates" class="btn btn-primary">Graduates</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="card-title">Personal Memo</h2>
                    <p class="card-text">Keep track of events.</p>
                    <a href="/faculty/memos" class="btn btn-primary">Memo</a>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer'); -%>
