<%- include('../partials/header'); -%> 
<%- include('../partials/navbar'); -%>
<%- include('../partials/flash', { messages: successMessages, type: 'success' }) %>
<%- include('../partials/flash', { messages: errorMessages, type: 'danger' }) %>

<header class="bg-dark py-4">
  <div class="container">
    <h1 class="text-white">
      Welcome, <% if(student.fullname) {%> <%= student.fullname %> <% } else{ %>
      <%= student.username %> <% } %>
    </h1>
  </div>
</header>
<main class="container py-4">
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Fill Details</h2>
          <p>
            Update your profile and provide necessary information for academic
            purposes.
          </p>
          <a href="/student/:id/new" class="btn btn-primary">Fill Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">View Profile</h2>
          <p>Explore your academic journey.</p>
          <a href="/student/:id" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Edit Profile</h2>
          <p>Manage your academic journey.</p>
          <a href="/student/:id/edit" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Your Advisor</h2>
          <p>Contact your advisor.</p>
          <a href="/student/:id/advisor" class="btn btn-primary">Your Advisor</a>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('../partials/footer'); -%>
