<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
  <div class="container">
    <% if (student.fullname&&student.usn&&student.parentOrGuardianName) { %>
    <div class="studDetail">
      <h2>Student Details</h2>
      <table class="table">
        <tr>
          <th>FullName:</th>
          <td>
            <%=student.fullname %>
          </td>
        </tr>
        <tr>
          <th>USN:</th>
          <td>
            <%=student.usn %>
          </td>
        </tr>
        <tr>
          <th>Year of Admission:</th>
          <td>
            <%=student.yearOfAdmission %>
          </td>
        </tr>
        <tr>
          <th>Year of Graduation:</th>
          <td>
            <%=student.yearOfGraduation %>
          </td>
        </tr>
        <tr>
          <th>Mode of Admission:</th>
          <td>
            <%=student.modeOfAdmission %>
          </td>
        </tr>
        <tr>
          <th>CET/COMEDK Rank:</th>
          <td>
            <%=student.cetRank %>
          </td>
        </tr>
        <tr>
          <th>Contact Number:</th>
          <td>
            <%= student.contactNum %>
          </td>
        </tr>
        <tr>
          <th>Date of Birth:</th>
          <td>
            <%= student.dob.toString().slice(0,15) %>
          </td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>
            <%= student.email %>
          </td>
        </tr>
        <tr>
          <th>Aadhar :</th>
          <td>
            <%= student.aadhar %>
          </td>
        </tr>
        <tr>
          <th>Blood Group:</th>
          <td>
            <%= student.bloodGroup %>
          </td>
        </tr>
        <tr>
          <th>Sem:</th>
          <td>
            <%= student.sem %>
          </td>
        </tr>
        <tr>
          <th>Faculty Advisor:</th>
          <td>
            <%= student.facultyAdvisorName %>
          </td>
        </tr>
      </table>
    </div>
    <div class="parentDetail">
      <h2>Parent/Guardian Details</h2>
      <table class="table">
        <tr>
          <th>Name:</th>
          <td>
            <%=student.parentOrGuardianName %>
          </td>
        </tr>
        <tr>
          <th>Relationship to Student:</th>
          <td>
            <%=student.parentOrGuardianRelation %>
          </td>
        </tr>
        <tr>
          <th>Occupation:</th>
          <td>
            <%=student.parentOrGuardianOccupation %>
          </td>
        </tr>
        <tr>
          <th>Qualification:</th>
          <td>
            <%=student.parentOrGuardianQualification %>
          </td>
        </tr>
        <tr>
          <th>Contact Number:</th>
          <td>
            <%=student.parentOrGuardianContactNum %>
          </td>
        </tr>
        <tr>
          <th>Alt Contact Number:</th>
          <td>
            <%= student.parentOrGuardianContactNum1 %>
          </td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>
            <%= student.parentOrGuardianEmail %>
          </td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>
            <%= student.address %>
          </td>
        </tr>
      </table>
    </div>
    <div class="academicDetails">
      <h2>Academic Details</h2>
      <div class="classXinfo">
        <h3>Class X</h3>
        <table class="table">
          <tr>
            <th>Year of Passing:</th>
            <td>
              <%= student.classX.yearOfPassing %>
            </td>
          </tr>
          <tr>
            <th>Board:</th>
            <td>
              <%= student.classX.board %>
            </td>
          </tr>
          <tr>
            <th>Institute:</th>
            <td>
              <%= student.classX.institute %>
            </td>
          </tr>
          <tr>
            <th>Score:</th>
            <td>
              <%= student.classX.score %>
            </td>
          </tr>
        </table>
      </div>
      <div class="classXIIinfo">
        <h3>Class XII</h3>
        <table class="table">
          <tr>
            <th>Year of Passing:</th>
            <td>
              <%= student.classXII.yearOfPassing %>
            </td>
          </tr>
          <tr>
            <th>Board:</th>
            <td>
              <%= student.classXII.board %>
            </td>
          </tr>
          <tr>
            <th>Institute:</th>
            <td>
              <%= student.classXII.institute %>
            </td>
          </tr>
          <tr>
            <th>Score:</th>
            <td>
              <%= student.classXII.score %>
            </td>
          </tr>
        </table>
      </div>
      <div class="creditsInfo">
        <h3>Credits Information</h3>
        <table class="table">
          <tr>
            <th>Sem</th>
            <th>Credits Registered</th>
            <th>Credits Earned</th>
            <th>SGPA</th>
          </tr>
          <% for (var i=0;i<student.creditInfo.length;i++ ){%>
            <tr>
              <td>
                <%= student.creditInfo[i].sem %>
              </td>
              <td>
                <%= student.creditInfo[i].creditsRegistered %>
              </td>
              <td>
                <%= student.creditInfo[i].creditsEarned %>
              </td>
              <td>
                <%= student.creditInfo[i].sgpa %>
              </td>
            </tr>
            <% } %>
        </table>
      </div>
      <div class="suppInfo">
        <h3>Supplementary Information</h3>
        <table class="table">
          <tr>
            <th>Supp. Sem</th>
            <th>Credits Registered</th>
            <th>Credits Earned</th>
            <th>SGPA</th>
          </tr>
          <% for (var i=0;i<student.supplementary.length;i++ ){%>
            <tr>
              <td>
                <%= [i+1] %>
              </td>
              <td>
                <%= student.supplementary[i].creditsRegistered %>
              </td>
              <td>
                <%= student.supplementary[i].creditsEarned %>
              </td>
              <td>
                <%= student.supplementary[i].sgpa %>
              </td>
            </tr>
            <% } %>
        </table>
      </div>
      <div class="backInfo">
        <h3>Backlogs Information</h3>
        <table class="table">
          <tr>
            <th>Subject Code</th>
            <th>Subject Title</th>
            <th>Credits</th>
            <th>Cleared</th>
            <th>Sem in Which Cleared</th>
          </tr>
          <% for (var i=0;i<student.backlogsInfo.length;i++ ){%>
            <tr>
              <td>
                <%= student.backlogsInfo[i].subjectCode %>
              </td>
              <td>
                <%= student.backlogsInfo[i].subjectTitle %>
              </td>
              <td>
                <%= student.backlogsInfo[i].credits %>
              </td>
              <td>
                <%= student.backlogsInfo[i].cleared %>
              </td>
              <td>
                <%= student.backlogsInfo[i].semCleared %>
              </td>
            </tr>
            <% } %>
        </table>
      </div>
      <div class="currSemInfo">
        <h3>Current Semester Information</h3>
        <table class="table">
          <tr>
            <th>Subject Code</th>
            <th>Subject Title</th>
            <th>Credits</th>
          </tr>
          <% for (var i=0;i<student.currentSemInfo.length;i++ ){%>
            <tr>
              <td>
                <%= student.currentSemInfo[i].subjectCode %>
              </td>
              <td>
                <%= student.currentSemInfo[i].subjectTitle %>
              </td>
              <td>
                <%= student.currentSemInfo[i].subjectCredits %>
              </td>
            </tr>
            <% } %>
              <tr>
                <th>Current CGPA</th>
                <td colspan="2">
                  <%= student.currentCGPA %>
                </td>
              </tr>
              <tr>
                <th>Credits Earned</th>
                <td colspan="2">
                  <%var credits=0;student.creditInfo.forEach(sem=>{credits=credits+sem.creditsEarned;});
                    student.backlogsInfo.forEach(backlog=>{if(backlog.cleared){credits=credits+backlog.credits;}})%>
                    <%= credits %>
                </td>
              </tr>
        </table>
      </div>
      <div class="activityInfo">
        <h3>Activity Points Information</h3>
        <table class="table">
          <tr>
            <th>Community Points Earned</th>
            <td>
              <%= student.activityPts.communityPts %>
            </td>
          </tr>
          <tr>
            <th>Allied Points Earned</th>
            <td>
              <%= student.activityPts.alliedPts %>
            </td>
          </tr>
          <tr>
            <th>Total Points Required</th>
            <td>
              <%= student.activityPts.totalPts %>
            </td>
          </tr>
          <tr>
            <th>Remaining Points</th>
            <td>
              <%= student.activityPts.totalPts - (student.activityPts.communityPts + student.activityPts.alliedPts) %>
            </td>
          </tr>

        </table>
      </div>
    </div>
    <% } else{%>  <h1>No Info Entered</h1> <% } %>
    <button type="button" id="printBtn" class="btn btn-primary">Print</button>
  </div>
  <script src="/Javascript/printReport.js"></script>
  <%- include('../partials/footer'); -%>